*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.rvmrc
/config/too_many_secrets.rb
/site/nanoc.yaml
.DS_Store
/site/content/*
/site/output/*
/site/tmp/*
/site/crash.log

