html, body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.tweet-stats {
	padding:0 .5em 0 .8em;
}

.rank-score {
	color: #104469;
	border-radius: 5px;
	border: 1px solid;
	height:6em;
	margin: 10px 0 1.5em 0;
}

.rank-number {
	font-family: "atrament-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 400%;
	text-align: center;
	margin-top: -.15em;
}

.rank-number .superscript {
	font-size:40%;
	vertical-align: middle;
}

.rank-details {
	border-left: 1px solid;
	height:100%;
}

.rank-details p {
	vertical-align: middle;
	padding: .5em 0;
}

.mv-score {
	font-size: 200%;
/*	padding:.2em;*/
/*	background-color: #006692;*/
/*	color:#FFF;*/
/*	border-radius:5px;*/
	margin-bottom: .5em;
}

.retweet-count i.icon-retweet, .favorite-count i.icon-star, .reach-total i.icon-bullhorn, .big-number  {
	font-size: 200%;
}

.retweet-count i.icon-retweet, .favorite-count i.icon-star, .reach-total i.icon-bullhorn {
	display:inline-block;
	width: 1.3em;
}

i.icon-retweet {
	color:#568934;
}

i.icon-star {
	color:#ff8b00;
}

i.icon-bullhorn {
	color:#0096D6;
}

.mv-ad1, .mv-ad2 {
	border-radius:5px;
	background-color:#EFEFEF;
	height:140px;
}

footer {
	margin-bottom: 50px;
}

.icon-chevron-right, .icon-chevron-left {
	font-size: 150%;
	display:block;
	width:1.3px;
	color:#AAA;
	position: absolute;
	top:.5em;
}

.icon-chevron-right {
	right:1.1em;
}

.icon-chevron-left {
	left:0;
}

.rank-previous {
	padding-left: 1em;
}

.rank-next {
	padding-right: 1em;
}

ul.pager li.previous a,ul.pager li.next a {
	height:3.5em;
}

ul.pager li.previous a{
	padding-left:50px;
}

ul.pager li.next a{
	padding-right:50px;
}

iframe#twitter-widget-0 {
	width: 100%;
}