html, body {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

html {
  background-color: #104469;
}

body {
  background-color: #FFF;
}


h1, h2, h3 {
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.jumbotron a {
	color:#104469;
}
.tweet-stats, .tweet-navigation {
	padding:0 .5em 0 .8em;
	margin: 10px 0 1.5em 0;
}

.rank-score {
	color: #104469;
	border-radius: 5px;
	border: 1px solid;
	overflow: auto;
	margin: 10px 0 1.5em 0;
	box-shadow: rgba(0, 0, 0, 0.148438) 0px 1px 3px 0px;
}

.rank-number {
	font-family: "atrament-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 400%;
	text-align: center;
	margin-top: -.2em;
}

.rank-number .superscript {
	font-size:40%;
	vertical-align: middle;
}

.rank-details {
	border-left: 1px solid;
}

.rank-details p {
	vertical-align: middle;
	padding: .5em 0;
}

.mv-score {
	font-size: 200%;
/*	padding:.2em;*/
/*	background-color: #006692;*/
/*	color:#FFF;*/
/*	border-radius:5px;*/
	margin-bottom: .5em;
}

.retweet-count i.icon-retweet, .favorite-count i.icon-star, .reach-total i.icon-bullhorn, .big-number  {
	font-size: 200%;
}

.retweet-count i.icon-retweet, .favorite-count i.icon-star, .reach-total i.icon-bullhorn {
	display:inline-block;
	width: 1.3em;
}

i.icon-retweet {
	color:#568934;
}

i.icon-star {
	color:#ff8b00;
}

i.icon-bullhorn {
	color:#0096D6;
}

.mv-ads {
	margin:2em 0;
}

.mv-ad1, .mv-ad2 {
	border-radius:5px;
	background-color:#EFEFEF;
	height:140px;
}

.tweet-navigation .previous, .tweet-navigation .next {
	color: #104469;
	line-height: 1.1;
  	font-size: 80%;
}

@media screen and (min-width: 768px) {
  .tweet-navigation .previous, .tweet-navigation .next {
  	font-size: 100%;
  }
}

.tweet-navigation a:hover, .jumbotron a:hover {
	color: #0096D6;
}

.tweet-navigation .next {
	text-align: right;
}

.navigation-number {
	font-family: "atrament-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.4em;
	text-align: center;
	display:inline-block;
	width:1.4em;
	height:1.4em;
	border-radius: 3px;
	border: solid 1px;
}

footer {
	padding: 1em 0 5em;
	color:#FFF;
	background-color: #104469;
	overflow: auto;
}

#mv-logo a {
	text-indent: -9000px;
	display:block;
	width:196px;
	height:61px;
	background-image: url('/assets/img/mv-logo-196x61.png');
	position: absolute;
	top:0;
	right:15px;
}

iframe#twitter-widget-0 {
	width:100%;
}

.jumbotron {
	padding:70px 0 10px 0;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding: 30px 0 10px 0;
    border-radius: 0;
  }
}
