<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="http://use.typekit.com/bvc1jkf.js"></script>
  	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  	
    <title>Great Gov Tweets from <%= pretty_date(@item[:date]) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/ggt.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  	<div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <span id="mv-logo"><a href="http://measuredvoice.com">Measured Voice, the only social media management tool designed for government.</a></span>  
        </div>
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="brand col-lg-8 col-12">
            <h1>Great Gov Tweets</h1>
            <h3 class="tagline">Using data to highlight great government communication.<br> From <a href="http://measuredvoice.com">Measured Voice.</a></h3>
          </div>
        </div>
      </div>
    </div>
	<div class="container">
		<div class="row tweet-lists">
		  <div class="col-12">
		    <p>Most engaging tweets from <%= pretty_date(@item[:date]) %>. Categories based on size of audience.</p>
        <div class="row">
          <div class="top-tweet-column col-12">
            <h3>Extremely Large</h3>
    		    <ol>
    		    <% @item[:extremely_large][:tweets].first(10).each do |tweet| %>
    		      <li>
    		        <a href="/<%= tweet[:screen_name] %>/status/<%= tweet[:tweet_id] %>/"><%= tweet[:screen_name] %></a>
    		      </li>
    		    <% end %>
    		    </ol>
          </div>

          <div class="top-tweet-column col-12">
    		    <h3>Very Large</h3>
    		    <ol>
    		    <% @item[:very_large][:tweets].first(10).each do |tweet| %>
    		      <li>
    		        <a href="/<%= tweet[:screen_name] %>/status/<%= tweet[:tweet_id] %>/"><%= tweet[:screen_name] %></a>
    		      </li>
    		    <% end %>
    		    </ol>
          </div>

          <div class="top-tweet-column col-12">
    		    <h3>Large</h3>
    		    <ol>
    		    <% @item[:large][:tweets].first(10).each do |tweet| %>
    		      <li>
    		        <a href="/<%= tweet[:screen_name] %>/status/<%= tweet[:tweet_id] %>/"><%= tweet[:screen_name] %></a>
    		      </li>
    		    <% end %>
    		    </ol>
          </div>

          <div class="top-tweet-column col-12">
    		    <h3>Medium-sized</h3>
    		    <ol>
    		    <% @item[:medium_sized][:tweets].first(10).each do |tweet| %>
    		      <li>
    		        <a href="/<%= tweet[:screen_name] %>/status/<%= tweet[:tweet_id] %>/"><%= tweet[:screen_name] %></a>
    		      </li>
    		    <% end %>
    		    </ol>
          </div>

          <div class="top-tweet-column col-12">
    		    <h3>Small</h3>
    		    <ol>
    		    <% @item[:small][:tweets].first(10).each do |tweet| %>
    		      <li>
    		        <a href="/<%= tweet[:screen_name] %>/status/<%= tweet[:tweet_id] %>/"><%= tweet[:screen_name] %></a>
    		      </li>
    		    <% end %>
    		    </ol>
          </div>
        </div>
			</div>
		</div>
	</div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <p>&copy; 2013 Measured Voice</p>
          <p>Note: this site is still in early beta. If you have any questions about what you see here, send an email to jed@measuredvoice.com</p>
          <p><a href="http://measuredvoice.com">Measured Voice</a> is the only social media tool designed for government. <strong><a href="http://measuredvoice.com">Start your free 30-day trial today</a>.</strong></p>
        </div>
      </div>
    </div>
  </footer>
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Optionally enable responsive features in IE8 -->
    <script src="/assets/js/respond.js"></script>
  </body>
</html>
