<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="http://use.typekit.com/bvc1jkf.js"></script>
  	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  	
    <title>Great Oz Gov Tweets from <%= pretty_date(@item[:date]) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/assets/css/ggt.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  	<div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <span id="mv-logo"><a href="http://measuredvoice.com">Measured Voice, the only social media management tool designed for government.</a></span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-12">
          <span id="delib-logo"><a href="http://delib.net/australia">Delib Australia.</a></span>
        </div>
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="brand col-lg-8 col-12">
            <% if @item.identifier == '/' %>
            <h1>Great Oz Gov Tweets</h1>
            <% else %>
            <h1><a href="/">Great Oz Gov Tweets</a></h1>
            <% end %>
            <h3 class="tagline">Using data to highlight great government communication.<br> From <a href="http://measuredvoice.com">Measured Voice</a> and <a href="http://www.delib.net/australia/">Delib Australia</a>.</h3>
          </div>
        </div>
      </div>
    </div>
	<div class="container">
		<div class="row tweet-lists">
		  <div class="col-12">
		    <div class="row">
          <div class="top-tweet-column col-12 col-lg-6">
            <h3>Top tweets from Australian governments and councils for <%= pretty_date(@item[:date]) %></h3>
            
            <div class="row">
              <div class="col-lg-5 col-5">
                &lsaquo; <%= date_link(@item[:date], :previous) %>
              </div>
            
              <div class="col-lg-2 col-2" style="text-align:center">
                <% if @item.identifier == '/' %>
                  <a class="button" href="/weekly/" title="Metrics for the week ending <%= pretty_date(@item[:date]) %>"><i class="icon-bar-chart"></i></a>
                <% else %>
                  <a class="button" href="/weekly/<%= @item[:date] %>" title="Metrics for the week ending <%= pretty_date(@item[:date]) %>"><i class="icon-bar-chart"></i></a>
                <% end %>
              </div>
            
              <div class="col-lg-5 col-5">
                <% if @item.identifier != '/' %>
                <span class="pull-right"><%= date_link(@item[:date], :next) %> &rsaquo;</span>
                <% end %>
              </div>
            </div>
            
            <ol>
    		    <% @item[:tweets].first(50).each do |tweet| %>
    		      <li>
    		        <a href="/<%= tweet[:screen_name] %>/status/<%= tweet[:tweet_id] %>/" class="details-link">More details</a>
    		        <div class="that-twitter-embed-thingy">
    		        <%= tweet[:embed_html] %>
    		        </div>
    		      </li>
    		    <% end %>
    		    </ol>
          </div>

          <div class="col-12 col-offset-1 col-lg-5 home-intro">
            <h3>What&rsquo;s this about?</h3>
            <p>
              We think governments who use social media well should be congratulated and have their work highlighted so others can learn from them.
            </p>
            <p>
              Great Oz Gov Tweets does this by showcasing the amazing work that government communicators across Australia do every day via Twitter, one of the most popular social networks in the world.
            </p>
            <p>
              <b>How does this work?</b>
            </p>
            <p>
              Each day, we analyse every tweet sent by government and council Twitter accounts in Australia as listed in the <a href="http://egovau.blogspot.com.au/p/australian-government-twitter-accounts.html">eGovAU Twitter list</a> (maintained by Craig Thomler of Delib Australia) and rank them using an algorithm based on audience size, retweets, and favourites.
            </p>
            <p>
              <b>Who&rsquo;s behind it?</b>
            </p>
            <p>
              Great Oz Gov Tweets is a collaboration between <b>Measured Voice</b>, creators of the only social media management tool designed with government in mind, and <b>Delib Australia</b>, a digital democracy company and government specialist that helps organisations use digital channels well to engage citizens, residents, customers, stakeholders and staff.
            </p>
            <p>
              Sign up for a <a href="https://app.measuredvoice.com/signup?partner=delib"><b>30-day free trial</b></a> of Measured Voice or contact us via Delib Australia: Australia@delib.net.
            </p>
            <p>
              If you have any questions, comments, or suggestions for Great Oz Gov Tweets, please send an email to Australia@delib.net.
            </p>
            <hr>
            <iframe src="/iframes/1" class="mv-ad" id="iframe1"></iframe>
          </div>
        </div>
			</div>
		</div>
	</div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <p>&copy; 2013 Measured Voice</p>
          <hr>
          <p><a href="http://measuredvoice.com">Measured Voice</a> is the only social media tool designed for government. <strong><a href="http://measuredvoice.com">Start your free 30-day trial today</a>.</strong></p>
          <hr>
        </div>
      </div>
    </div>
  </footer>
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-12846866-10', 'measuredvoice.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
